# CMake / Build folders
build/
bin/
intermediate/
x64/
x86/
ARM/
ARM64/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
*.opendb

# Build Configurations
Debug/
Release/
MinSizeRel/
RelWithDebInfo/

# Compiled files & symbols
*.obj
*.o
*.lib
*.a
*.dll
*.so
*.dylib
*.exe
*.pdb
*.ilk
*.idb
*.ipch
*.sdf
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.applocal.log

# Package managers
vcpkg_installed/
packages/

# Logs & temp files
*.log
*.err
*.txt_err
*.stdout.txt
*.stderr.txt
scratch/
bridge_vst_test_build.log
bridge_vst_test_output.txt
bridge_vst_test_output.txt_err

# Mac Specific
.DS_Store

# Third party SDKs and precompiled libraries
third_party/
!third_party/
third_party/*
!third_party/FFTConvolver/
third_party/FFTConvolver/*
!third_party/FFTConvolver/AudioFFT.cpp
!third_party/FFTConvolver/AudioFFT.h
!third_party/FFTConvolver/FFTConvolver.cpp
!third_party/FFTConvolver/FFTConvolver.h
!third_party/FFTConvolver/Utilities.cpp
!third_party/FFTConvolver/Utilities.h
!third_party/dr_libs/
third_party/dr_libs/*
!third_party/dr_libs/dr_wav.h

# Installer Output
installer/Output/
